header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    background: white;
    height: 5rem;
    // border-bottom: 1px solid yellowgreen;
    // border-color: var(--lawray-green);
    transition: .3s ease-in-out;
}


header.sticky {
    height: 4rem;
}

/*---navigation---*/
.navbar{
    box-sizing: border-box;
    background-color: transparent !important;
    height: 100%;
}
// .navbar::after{
//     content:'';
//     display: block;
//     height: 3px;
//     background-color: yellowgreen;
//     background-color: var(--lawray-green);
//     width: 100%;
//     position: absolute;
//     bottom: -6px;
//     left: 0px;
//     z-index:999;
// }
.navbar-dark .navbar-nav{
    font-size: .875rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: dimgrey;
    color: var(--black60);
    text-transform: lowercase;
}
.navbar-brand{
    text-transform: lowercase;
    width: 14rem;
}
.navbar-toggler{
    border: none;
    padding: 0px;
    outline: none !important;
}
.lawray-toggler-icon{
    width: 36px;
    height: 32px;
    position: relative;
    display: block;
    transition: all 0.4s ease;
}
.lawray-toggler-icon::before, .lawray-toggler-icon::after{
    content: '';
    display: block;
    width: 100%;
    height: 14px;
    background: transparent;
    border-top: 3px solid yellowgreen;
    border-bottom: 6px solid yellowgreen;
    border-color: var(--lawray-green);
    position: absolute;
    top: 0px;
    box-sizing:border-box;
    transition: all 0.4s ease;
}
.lawray-toggler-icon::after{
    top: auto;
    bottom: 0px;
    height: 12px;
    border: 0px;
    background-color: yellowgreen;
    background-color: var(--lawray-green);
    transform-origin: bottom;

}
.navbar-toggler[aria-expanded="true"] .lawray-toggler-icon{
    transform: rotate(45deg);
    height: 36px;
}
.navbar-toggler[aria-expanded="true"] .lawray-toggler-icon::before{
    height: 4px;
    border-bottom-width: 4px;
    border-top-width: 0px;
    top: calc(50% - 2px);
}
.navbar-toggler[aria-expanded="true"] .lawray-toggler-icon::after {
    transform: rotate(-90deg);
    height: 4px;
    bottom: 50%;
    left: 2px;
}
// .navbar-nav:hover .nav-item{
//     opacity: 50%;
// }
// .navbar-nav .nav-item:hover{
//     opacity: 100%;
// }

li.nav-item {
    margin-bottom: 0;
    transition: .3s ease-out;
}

.dropdown-menu{
    display: block;
    max-height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    border:0px;
    border-radius: 0px;
    padding: 0px;
    background: transparent;
    margin: 0px;
}
.dropdown-item{
    color: dimgrey;
    color: var(--black60);
    text-transform: lowercase;
    font-size: 12px;
    background: var(--beige50);
}
.nav-item:hover .dropdown-menu{
    max-height: 400px;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

}

@media (max-width: 991px){
    .dropdown-menu {
        max-height: 400px;
        padding-right: 2rem;
    }

    .navbar-collapse {
        min-width: 100vw;
        margin-left: -1rem;
        padding-left: 1rem;
        background: white;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    }

}