/*---home---*/
.landing-link{
    position: relative;
    height: 100%;
    height: 34vh;
    cursor: pointer;
    background-color: #333;
    background-color: var(--black75);
    transition: all ease 0.4s;
    transition: var(--trans);
    overflow: hidden;
    padding: 0px;
}

@media screen and (min-width: 777px) {
    .landing-link {
        height: 100vh;
    }
}
.landing-link img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    transition: all ease 0.4s;
    transition: var(--trans);
    z-index: 1;
}
.landing-link:hover img{
    opacity: 70%;
}
.landing-link .landing-text{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #ffffff00;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 20;
    backdrop-filter: contrast(0.5);
}
.landing-link .landing-text h3{
    line-height: 2;
    margin-bottom: 0px;
    transition: all ease 0.4s;
    transition: var(--trans);
    color: white;
    font-weight: 300;
    font-size: 2.5rem;
}
.landing-link:hover .landing-text h3{
    transform: scale(1.1);
}
.landing-overlay {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 9999;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeout 3s normal forwards;
    -moz-animation: fadeout 3s normal forwards; /* Firefox */
    -webkit-animation: fadeout 3s normal forwards; /* Safari and Chrome */
    -o-animation: fadeout 3s normal forwards; /* Opera */
    animation-delay: 2s;
}

.landing-overlay img {
    margin-top: 80px;
}

@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}


////////////////////// Horizaontal


#home {
    overflow-x: scroll;
}

#home section {
    overflow-x: visible;
}

.horz {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: visible;
}

.horz div {
    padding: 0 3rem;
    flex: 0 0 auto;
    max-height: 70vh;
    display: flex;
    justify-content: space-between;
}

.flex.horz img {
    max-width: 66%;
    object-fit: cover;
}

.flex.horz h2 {
    font-size: 4rem;
    font-weight: 500;
}


@media (min-width: 0px) and (max-width: 575px) {
    .landing-link .landing-text h3{

        font-size: 1.5rem;
    }


}