@mixin fullwidth-container-bg {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  @mixin cta-icon {
    position: absolute;
    top: 30px;
    right: 30px;
  }


  @mixin boxstyles {
    background: $white;
    border: 2px solid $grey;
    border-radius: $border-radius;
    overflow: hidden;
    transition: $transition-base;
  }


  @mixin largertext {
    font-size: 20px;
    line-height: 30px; 
  }

  @mixin largertext-mob {
    font-size: 18px;
    line-height: 26px; 
  }